.my-btn {
    padding: 10px 20px;
    background-color: #4056F4;
    color: white;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.my-btn:hover {
    background-color: #470FF4;
}

p {
    margin: 20px 0px 20px 0px;
    font-size: 20px;
    align-content: center;
    color: black;
}

.micBox {
    font-size: 20px;
    border: 8px solid #1480c4;
    border-radius: 5px;
    background-color: #ffffff;
    color: white;
}

.transcriptBox {

    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    border: 8px solid #1480c4;
    background-color: #ffffff;
    font-size: 20px;

}

.textBox {
    width: 50vw;
    height: 6vh;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 5px;
}

.transcriptOutput {

    width: 50vw;
    margin: 20px 0px 20px 0px;
    text-align: center;
    background-color: white;
    color: black;
   
    border: 3px solid black;
    border-radius: 5px;
    
    font-size: 20px;
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
}

.howToUseDiv {

    font-size: 20px;
    
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-top: 50px;

    /* width: 60vw; */
    /* height: 2vh;  */
    margin-bottom: 2vh;

    text-align: center;
    border:  8px solid #1480c4;
    border-radius: 5px;
    /* font-size: 20px; */
}

#APIKeyButton {

    margin-bottom: 2vh;

}

.aboutDiv {
    margin: 4vh;
}

.anchorTag {
    color: white;
}